<div class="container">
  <div class="row">
    <div class="col-md-3 mx-auto my-5" *ngFor="let exam of exams">
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-title>
            <h4>{{exam.Exam_name}}</h4>
          </mat-card-title>

          <br>
          <mat-card-subtitle>
            <label>Time:</label>
            {{exam.Time}}
          </mat-card-subtitle>

          <mat-card-subtitle>
           <b> <label>Total Mark:</label></b>
            {{exam.Marks}}
          </mat-card-subtitle>

          <button mat-raised-button color="primary" (click)="onclickexam(exam)">Start Exam</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>


